body {
   padding: 0;
   margin: 0;
   cursor: url("pen.png"),auto;
}
a {
	cursor: url("pen.png"),auto;
}

span {
  font-weight: bold;	
}

.spinner-wrapper h1{
	width: 250px; 
	position: absolute; 
	left: 0; 
	right: 0;
	bottom: 10%; 
	margin: auto; 
	color: white; 
	font-family: 'Source Sans Pro', sans-serif;"
}
.spinner{
width: 150px; 
position: absolute; 
left: 0; 
right: 0;
bottom: 35%; 
margin: auto;
}
#warning-message { display: none; }
  
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
	
.homepage {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url("wall5.jpg");
  background-size: 100%;
  z-index: -1;
  padding: 0;
  margin: 0;
}
a {
	text-decoration: none;
}

.pencil {
	display: block;
	position: absolute;
	left: 30%;
	width: 3%;
	top: 68%;
}

.coffee {
	position: absolute;
	top: 19%;
	left: 20%;
	width: 15%;
}

.laptop {
	position: absolute;
	top: 10%;
	left: 35%;
	width: 38%;
	margin-left: 20px;
	
}
.ca {
	position: absolute;
	top: 70%;
	left: 41%;
	width: 25%;
	margin-top: 15px;
	border-top: 0.3em solid black;
	border-bottom: 0.35em solid black;
}

.note {
	position: absolute;
	top: 59%;
	left: 22%;
	width: 10%;
}

.page {
	height: 85%;
	width: 63%;
	position: absolute;
	top: 7%;
	left: -49.5%
	
}

.cover-page {
	height: 94%;
	width: 63%;
	position: absolute;
	top: 3%;
	left: -50%;
}

.diary {
	position: absolute;
	height: 100%;
	left: -1%;
	margin: 0;
	top: 0;
}
.page-content {
	height: 100%;
	width: 88%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0%;
	background-color: #f8f8f8;
	overflow-y: auto;
}

.page-content::-webkit-scrollbar { width: 0 !important }

.page-content { -ms-overflow-style: none; }

.page-content { -ms-overflow-style: none; }

.punch-hole1 {
	position: absolute;
	top: 30%;
	left: 2%;
	width: 2%;
	height: 3%;
	background-image: url("wall5.jpg");
	background-size: 310%;
	border-radius: 100px;
}

.highlighted{
	background-color: #ccff00;
}

.punch-hole2 {
	position: absolute;
	top: 65%;
	left: 2%;
	width: 2%;
	height: 3%;
	background-image: url("wall5.jpg");
	background-size: 310%;
	border-radius: 1000px;
}

.page-content h1 {
	position: absolute;
	left: 9%;
	top: 7%;
	font-family: 'Neucha', cursive;
	font-size: 5.5em;
	padding: 0;
	margin: 0;
	
}

.page-content p {
    font-family: 'Handlee', cursive;
	margin: 1em;
	position: absolute;
	top: 37%;
	left: 4.6%;
	font-size: 1.4em;
	color: navy;
	
}

.page-content ol {
	font-family: 'Handlee', cursive;
	margin: 0.7em;
	position: absolute;
	top: 35%;
	left: 4.6%;
	font-size: 1.3em;
	color: navy;
	
}

.page-content .photo {
	height:33%;
	width: 30%;
	border: #d3d3d3 solid 0.5px;
	box-shadow: 2px 6px 3px grey;
	position: absolute;
	top: 1%;
	right: 10%;
	padding: auto;
	background-color: white;
}

.page-content .photo img {
	width: 95%;
	height: 80%;
	margin: 2% 2.5% 15%;
	padding: auto;
	object-fit: cover; 
}

.clip {
	width: 14%;
	position: absolute;
	right: 17%;
	top: -4.2%;
}

.close {
	position: absolute;
	top: 0%;
	right: 3%;
	margin: 0;
	padding: 1em;
	color: grey;
	font-family: 'Neucha', cursive;
}

.pull {
	position: absolute;
	right: 0%;
	top: 10%;
	width: 14%;
	height: 8%;
	background-color: #fff048;
	color: #880000;
	padding: 0;
	box-shadow: 1px 3px 2px rgba(0,0,0,0.5);
}

.bookmark-text {
float: right;
font-family: 'Patrick Hand', cursive;
margin: 0 0.4em 0 0;
padding: 0;
font-size: 1.5em;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
}

.footer img {
	height: 2.3em;
	margin: 0.5em;
	float: right;
}

#sticky-note {
	position: absolute;
	right: 0;
	top: 0;
	height: 13em;
}

#sticky-note img{
	height: 100%;
	z-index:-1;
}

#sticky-note a{
	position: absolute;
	font-family: 'Patrick Hand', cursive;
	font-size: 1.5em;
	z-index: 1;
	padding-left: 12px;
	margin: 10% 10%;
	left: 0;
	color: #880000;
}

.mobile { 
	position: absolute;
	width: 11%;
	top: 40%;
	right: 2%;
}

.paperball {
	position: absolute;
	top: 80%;
	left: 13%;
	width: 8%;
}

.glasses {
	position: absolute;
	top: 80%;
	right: 10%;
	width: 15%;
}

/*modal*/


/* Modal overlay */

.login-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;

}


/* modal */
.login-modal::-webkit-scrollbar { width: 0 !important }

.login-modal { -ms-overflow-style: none; }

.login-modal { -ms-overflow-style: none; }

.login-modal {
  background: #fff;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 2em;
  background-image: url(paper.jpg);
  background-size: 100%;
  overflow: auto;
}


/* general styles */

.login-modal h1 {
  padding: 0;
  margin: 0;
  font-family: 'Neucha', cursive;
  font-size: 3em;
}

.login-modal h2 {
  font-family: 'Neucha', cursive;
  hyphens: auto;
  padding-bottom: 1em;
}

.login-modal h3 {
  font-family: 'Neucha', cursive;
  padding: 0;
  margin: 0;
  padding-bottom: 0.2em;
}

/* form & imputs */

.login-modal .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.login-modal input {
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: black;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cdcdcd;
}

.login-modal input:focus {
  outline: none;
}


input[type="text"] {
   font-family: 'Handlee', cursive;
   color:navy;
   font-size: 1.5em;
   padding: 0;
}

input[type="password"] {
   font-family: 'Handlee', cursive;
   color:navy;
   font-size: 1.5em;
   padding: 0;
}

input[type="email"] {
   font-family: 'Handlee', cursive;
   color:navy;
   font-size: 1.5em;
   padding: 0;
}

input[type="number"] {
   font-family: 'Handlee', cursive;
   color:navy;
   font-size: 1.5em;
   padding: 0;
}

.login-modal .bar {
	position: relative;
	display: block;
	width: 100%;
  }

.login-modal .bar:before,
.login-modal .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #00A0E3; 
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  
}

.login-modal .bar:before {
  left: 50%;
  
}

.login-modal .bar:after {
  right: 50%;
  
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after {
  width: 50%;
  }


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 0 24px;
  height: 38px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.button:focus { 
  outline: 0;
}

.button:hover {
    background: #46ADD8;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}


/* Button modifiers */

.buttonBlue {
  background: #00A0E3;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #0092D0; }


@media only screen and (max-width: 1100px){
	.coffee {
	position: absolute;
	top: 25%;
	left: 20%;
	width: 18%;
}

.laptop {
	position: absolute;
	top: 28%;
	left: 37%;
	width: 47%;
}
	.page {
	width: 80%;
	left: -65%;
	}
	.ca {
	top: 75%;
	left: 40%;
	width: 30%;
}
.note {
	position: absolute;
	top: 55%;
	left: 22%;
	width: 13%;
}
.pencil{
	width: 5%;
}
.mobile { 
	top: 60%;
}

.paperball {
	left: 20%;
	width: 10%;
}

.glasses {
	top: 10%;
	right: 30%;
	width: 18%;
}
}

@media only screen and (max-width: 900px){
	.body{
		cursor: url("pen.png"),auto;
	}
	.laptop {
	top: 11%;
	left: 35%;
	width: 40%;
}
.coffee {
	top: 15%;
	left: 20%;
	width: 14%;
}
.note {

	top: 50%;
	left: 22%;
	width: 13%;
}
#sticky-note {
	height: 6em;
}
#sticky-note a{
	font-size: 0.6em;
	margin: 0;
	padding-left: 12px;
	padding-top: 5px;
}
.ca {
	top: 70%;
	
}
.page-content  {
	width: 81%;
}
.page-content h1 {
	font-size: 3.5em;
}

.page-content p {
	font-size: 0.9em;
}

.page-content ol {
	font-size: 0.9em;
}
.bookmark-text {
font-size: 1em;

}
.login-modal h1 {
  font-size: 2em;
}

.login-modal h2 {
	font-size: 1em;
}
.mobile { 
	top: 40%;
}

.paperball {
	left: 20%;
	width: 7%;
}

.glasses {
	display: none;
}
.spinner{
width: 120px; 
}
.pencil{
	width: 4%;
}
.footer img {
	height: 1.5em;
}
}

@media only screen and (max-width: 500px){
	.page {
	height: 53%;
	width: 100%;
	top: 25%;
	left: -83%
	
}
.page-content {
	width: 80%;
}
	.laptop {
	top: 25%;
	left: 23%;
	width: 63%;
}
.coffee {
	top: 53%;
	left: 22%;
	width: 28%;
}
.ca {
	top: 73%;
	width: 40%;
	left: 37%;
}
.note {
	top: 55%;
	width: 22%;
	left: 65%;
	z-index: -10;
}
#sticky-note {
	height: 6em;
}
#sticky-note a{
	font-size: 0.5em;
	margin: 0;
	padding-left: 20px;
	padding-top: 15px;
}
.pencil {
	display: block;
	width: 9%;
	top: 54%;
	left: 59%
}
.diary{
	height: 70%;
	top: 17%;
	left: -13%;
}
.bookmark-text {
font-size: 0.7em;
margin-right: 1px;

}
.page-content h1 {
	font-size: 2.1em;
}
.page-content ol {
	font-size: 1em;
}
.close {
	right: 0%;
}
.mobile { 
	display: none;
}

.paperball {
	display: none;
}

.glasses {
	display: none;
}

}
@media screen and (orientation: portrait) {
	#alert {
	display: block;
}
#alert .login-modal {
	height: 30%;
}
}
